<div class="panel-center animated fadeInDown about-page">
    <h3 class="heading-margin-bottom"><u>Technologies Used</u></h3>

  <ul class="tech-list">
    <li class="tech-list-item animated fadeInLeft delay-1s">
      <img class="tech-logo float-left center-align" height="35px" src="/assets/images/angular.png">
      <!-- <div class="tech-text float-left">Angular</div> -->
    </li>

    <li class="tech-list-item animated fadeInLeft delay-2s">
      <img class="tech-logo float-left center-align" height="35px" src="/assets/images/node.png">
      <!-- <div class="tech-text float-left">Node</div> -->
    </li>

    <li class="tech-list-item animated fadeInLeft delay-3s">
      <div class="center-align">
        <img class="tech-logo float-left" height="35px" src="/assets/images/express.svg">
        <div class="tech-text float-left express-js-txt">JS</div>
      </div>
    </li>

    <li class="tech-list-item animated fadeInLeft delay-4s">
      <div class="center-align">        
        <div class="tech-text float-left">Concurrently</div>
      </div>
    </li>

    <li class="tech-list-item animated fadeInLeft delay-5s">
      <div class="center-align">
        <img class="tech-logo float-left" height="35px" src="/assets/images/bootstrap.png">
        <div class="tech-text float-left">Bootstrap</div>
      </div>
    </li>

    <li class="tech-list-item animated fadeInLeft delay-6s">
      <div class="center-align">
        <img class="tech-logo float-left" height="35px" src="/assets/images/fontawesome.jpg">
        <div class="tech-text float-left">Font Awesome</div>
      </div>
    </li>
  </ul>
</div>