<!-- for Angular Router -->
<nav class="navbar navbar-expand-sm navbar-dark" *ngIf="isUserLoggedIn()">
  <div class="container-fluid">      
    <ul class="navbar-nav">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="home" placement="bottom" ngbTooltip="Take me home">
            <i class="fas fa-home"></i> Home</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="about" placement="bottom" ngbTooltip="Take me to about page">
            <i class="fas fa-info-circle"></i> About</a>
        </li>        
    </ul>

    <div class="float-right">
      <button class="btn btn-success navbar-btn" (click)="logout()">Logout <span class="capitalize">{{username}}</span></button>
    </div>
  </div>
</nav>



<!-- for UI Router -->
<!--
<nav class="navbar navbar-expand-sm bg-dark">    

<ul class="navbar-nav">
    <li class="nav-item" uiSrefActive="active">
    <a class="nav-link" uiSref="home" placement="bottom" ngbTooltip="Take me home">
        <i class="fas fa-home"></i> Home</a>
    </li>
    <li class="nav-item" uiSrefActive="active">
    <a class="nav-link" uiSref="about" placement="bottom" ngbTooltip="Take me to about page">
        <i class="fas fa-info-circle"></i> About</a>
    </li>
</ul>    

</nav>
-->

