<div class="panel-center animated fadeInDown">
  <div class="lds-blocks" *ngIf="showSpinner"><div></div><div></div><div></div></div>
  
  <h3 class="highlight">Hi <span class="text-capitalize">{{username}}</span></h3>

  <p class="panel-para">
      Welcome to the <b>{{appObject.tech}} {{appObject.version}} Seed App</b>. You are now ready to customize this application as per your needs and quickly create your own web app. Check out the 
    <a routerLink="/about" class="highlight">About Page</a> 
      to find out which technologies are ready for use.   
  </p>
  <p class="panel-para">Refer to the <b>Readme.md</b> file for details of features and instructions on how to use them.</p>
</div>