@import "../../../styles/mixins";

.panel {
  h2 { 
    color:#444444; 
    font-size:18px; 
    margin:0 0 8px 0;
  }

  p { 
    color:#777777; 
    font-size:14px; 
    margin-bottom:30px; 
    line-height:24px;
  }
}

.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 90px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
}

.login-form { 
  text-align:center;    

  .form-group {
    margin-bottom:10px;
  }

  .btn {
    height: 50px;
  }

  .form-control {
    @include border-radius(0.25rem);
  }

}
