body {
    background-color: #eee;
}

.active {
    background: #5a5a5a;
    border-radius: 3px;
}

.btn {    
    width: 100%;
}

.btn.btn-primary {
    background: #f0ad4e none repeat scroll 0 0;
    border-color: #f0ad4e;
    color: #ffffff;
}

.form-control {
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    height: 50px;
}